%description-xl {
  font-weight: 400;
  font-size: rem(36);
  font-style: normal;
}

%description-xlarge {
  font-weight: 400;
  font-size: rem(24);
  font-style: normal;
}

%description-large {
  font-weight: 400;
  font-size: rem(20);
  font-style: normal;
}

%description-default {
  font-weight: 400;
  font-size: rem(16);
  font-style: normal;
}

%description-small {
  font-weight: 400;
  font-size: rem(14);
  font-style: normal;
}

%description-xsmall {
  font-weight: 400;
  font-size: rem(12);
  font-style: normal;
}
