%title-16 {
  font-weight: 500;
  font-size: rem(16);
  font-style: normal;
}

%title-18 {
  font-weight: 500;
  font-size: rem(18);
  font-style: normal;
}

%title-24 {
  font-weight: 500;
  font-size: rem(24);
  font-style: normal;
}
