.btn {
  position: relative;
  display: flex;
  padding: 2.4rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 8rem;
  font-family: "Neue-bold", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.018rem;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  transition: all 0.2s;
  &:hover {
    background: map-get($grey-map, 300);
  }

  @include screenMax("mobile") {
    font-size: 1.4rem;
    line-height: 1.8rem; /* 128.571% */
    letter-spacing: 0.014rem;
    padding: 1.5rem 3.2rem;
  }
  > div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    img {
      height: 2.4rem;
      width: 2.4rem;
      @include screenMax("mobile") {
        height: 1.2rem !important;
        width: 1.2rem !important;
      }
    }
  }

  span {
    font-size: 2.4rem;
  }
  &-loading {
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
      background-color: map-get($white-map, 200);
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2rem;
      height: 2rem;
      margin: -1.2rem 0 0 -1.2rem;
      border: 0.4rem solid $white;
      border-top: 0.4rem solid map-get($grey-map, 100);
      border-radius: 50%;
      animation: spin 1s linear infinite;
      box-sizing: border-box;
      transform-origin: 50% 50%;
    }
  }
  &-primary {
    border: 0.1rem solid map-get($black-map, 100);
    background: map-get($black-map, 100);
    color: $white;
    &.btn-loading:after {
      border: 0.4rem solid map-get($black-map, 100);
      border-top: 0.4rem solid $white;
    }
    &.btn-loading::before {
      background-color: map-get($black-map, 100);
    }
    &:hover {
      background: map-get($grey-map, 100);
    }
    &-outline {
      border: 0.1rem solid map-get($grey-map, 100);
      color: map-get($black-map, 100);
      background-color: transparent;
      &.btn-loading::before {
        background-color: map-get($white-map, 200);
      }
      &:hover {
        background: map-get($grey-map, 500);
      }
    }
  }
  &-accent {
    border: 0.1rem solid $accent;
    background: $accent;
    color: $white;
    transition: all 0.2s;
    &.btn-loading:after {
      border: 0.4rem solid $accent;
      border-top: 0.4rem solid $white;
    }
    &.btn-loading::before {
      background-color: $accent;
    }
    &:hover {
      background: #c53f4a;
    }
    &-outline {
      border: 0.1rem solid $accent;
      color: $accent;
      background-color: transparent;
      &.btn-loading::before {
        background-color: $white;
      }
      &.btn-loading::after {
        border: 0.4rem solid $accent;
        border-top: 0.4rem solid $white;
      }
    }
  }
  &-secondary {
    &-outline {
      border: 0.1rem solid map-get($grey-map, 400);
      color: map-get($black-map, 100);
      background-color: transparent;
      transition: all 0.2s;
      &:hover {
        border: 0.1rem solid map-get($grey-map, 500);
        background-color: map-get($grey-map, 500);
      }
    }
  }
  &-icon {
    height: 7.2rem;
    width: 7.2rem;
    padding: 1.4rem 1.2rem;
    > img {
      height: 2.4rem;
      width: 2.4rem;
    }
    @include screenMax("mobile") {
      height: 4rem;
      width: 4rem;
      padding: 0.5rem 0.5rem;

      > div {
        display: flex;
        align-items: center;
        justify-content: center !important;
      }
      > img {
        height: 1.2rem !important;
        width: 1.2rem !important;
      }
    }
  }
  &-full {
    width: 100%;
  }
  &-auth {
    img {
      position: absolute;
      left: 3.2rem;
      top: 50%;
      transform: translateY(-50%);
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
