.btn {
  position: relative;
  display: flex;
  padding: 2.4rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 8rem;
  font-family: "Neue-bold", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.018rem;
  position: relative;
  transition: all 0.6s;
  span {
    font-size: 2.4rem;
  }
  &-loading {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2rem;
      height: 2rem;
      margin: -1.2rem 0 0 -1.2rem;
      border: 0.4rem solid $white;
      border-top: 0.4rem solid map-get($grey-map, 100);
      border-radius: 50%;
      animation: spin 1s linear infinite;
      box-sizing: border-box;
      transform-origin: 50% 50%;
    }
  }
  &-primary {
    border: 0.1rem solid map-get($black-map, 100);
    background: map-get($black-map, 100);
    color: $white;
    &.btn-loading:after {
      border: 0.4rem solid map-get($black-map, 100);
      border-top: 0.4rem solid $white;
    }
    &-outline {
      border: 0.1rem solid map-get($grey-map, 100);
      color: map-get($black-map, 100);
      background-color: transparent;
    }
  }
  &-secondary {
    &-outline {
      border: 0.1rem solid map-get($grey-map, 400);
      color: map-get($black-map, 100);
      background-color: transparent;
    }
  }
  &-icon {
    height: 7.2rem;
    width: 7.2rem;
  }
  &-full {
    width: 100%;
  }
  &-auth {
    img {
      position: absolute;
      left: 3.2rem;
      top: 50%;
      transform: translateY(-50%);
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
