.chips-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  .chip {
    display: flex;
    padding: 0.4rem 1.6rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: map-get($grey-map, 300);
    font-family: $secondary-font;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    letter-spacing: -0.14px;
    background: transparent;
    border-radius: 3.2rem;
    border: 0.1rem solid map-get($grey-map, 400);
    span {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      font-size: 1.4rem;
    }
    &-white {
      border: 0.1rem solid map-get($grey-map, 300);
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 0.1rem;
        height: 100%;
        background: map-get($grey-map, 300);
        transform: translate(-50%, -50%) rotate(30deg);
      }
    }
  }
}
