.file-uploader {
  position: relative;
  &__label {
    h6 {
      color: map-get($grey-map, 100);
      font-family: $secondary-font;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0.8rem;
    }
    p {
      color: map-get($grey-map, 100);
      font-family: $secondary-font;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.8rem; /* 155.556% */
      letter-spacing: -0.018rem;
      margin-bottom: 2.4rem;
    }
    small {
      display: block;
      color: map-get($grey-map, 100);
      font-family: $secondary-font;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.4rem; /* 150% */
      margin-bottom: 0.8rem;
    }
  }
  &__slot {
    width: 100%;
    margin: 0 auto;
    padding: 1.6rem;
    transition: 0.2s ease;
    border-radius: 0.8rem;
    height: 100%;
    min-height: 38.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 0.1rem dashed map-get($grey-map, 300);
    svg {
      margin-bottom: 4.8rem;
    }

    // &[data-active="true"] {
    //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    //   background: #ffffffcc;
    // }
  }
  label {
    cursor: pointer;
    display: block;
    p {
      .main {
        color: $black;
        font-family: $secondary-font;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.4rem; /* 150% */
        text-align: center;
        margin-bottom: 0.8rem;
        max-width: 37.2rem;
        em {
          color: $accent;
        }
      }
      .smaller {
        color: map-get($grey-map, 200);
        font-family: $secondary-font;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: -0.018rem;
        max-width: 37.2rem;
        text-align: center;
        strong {
          color: $black;
        }
      }
    }

    span {
      display: block;
    }

    .smaller {
      font-size: 16px;
    }
  }
  input[type="file"]:not(:focus-visible) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  &__image-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 0;
    margin-top: 1.6rem;
    .file-preview {
      position: relative;
      overflow: hidden;
      .close-icon,
      .status-indicator {
        size: 2rem;
        position: absolute;
        line-height: 2rem;
        height: 2rem;
        border-radius: 2rem;
        box-shadow: 0 0 5px currentColor;
        right: 0.25rem;
        appearance: none;
        border: 0;
        padding: 0;
      }

      .close-icon {
        width: 2rem;
        font-size: 2rem;
        background: $accent;
        color: #fff;
        top: 0.25rem;
        cursor: pointer;
      }
      .status-indicator {
        font-size: calc(0.75 * 2rem);
        bottom: 0.25rem;
        padding: 0 10px;
      }
      .loading-indicator {
        animation: pulse 1.5s linear 0s infinite;
        color: #000;
      }
      .success-indicator {
        background: #6c6;
        color: #040;
      }
      .failure-indicator {
        background: $accent;
        color: #fff;
      }
    }
    img {
      width: 10.6rem;
      height: 7.2rem;
      object-fit: cover;
    }
  }
}

@keyframes pulse {
  0% {
    background: #fff;
  }

  50% {
    background: #ddd;
  }

  100% {
    background: #fff;
  }
}
