.auth-form {
  border-radius: 1.6rem;
  background: $white;
  box-shadow: 0px 4.529px 3.623px 0px rgba(0, 0, 0, 0.02),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04),
    0px 30.147px 24.118px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  max-width: 69.4rem;
  width: 100%;
  margin: auto;
  padding: 8rem;
  // margin-top: 9rem;
  position: relative;
  @include screenMax("mobile") {
    box-shadow: none;
    padding: 0rem;
    margin-top: 8.4rem;
  }
  h1 {
    color: $black;
    font-family: $neue-bold;
    font-size: 3.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.6rem;
    text-align: center;
    @include screenMax("mobile") {
      font-size: 2.1rem;
      line-height: 2.9rem; /* 138.095% */
    }
  }
  p {
    color: map-get($grey-map, 100);
    font-family: $primary-font;
    font-size: 2.3rem;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 3.5rem;
    margin-top: 1.6rem;
    a {
      color: $accent;
    }
    @include screenMax("mobile") {
      font-size: 1.6rem;
      line-height: 2.7rem; /* 168.75% */
    }
  }
  &__close {
    position: absolute;
    background-color: transparent;
    top: 3.2rem;
    right: 3.2rem;
    @include screenMax("mobile") {
      display: none;
    }
  }
  h6 {
    text-align: center;
    position: relative;
    color: map-get($grey-map, 200);
    font-family: $secondary-font;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 155.556% */
    letter-spacing: -0.018rem;
    margin: 2.4rem 0rem;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      bottom: 0;
      width: 40%;
      background-color: map-get($grey-map, 300);
      height: 0.1rem;
    }
    &::before {
      left: 2rem;
    }
    &::after {
      right: 2rem;
    }
    @include screenMax("mobile") {
      font-size: 1.6rem;
      &::before {
        left: 0rem;
      }
      &::after {
        right: 0rem;
      }
    }
  }
  &--google {
    margin-bottom: 1.5rem;
    margin-top: 4rem;
  }
  input {
    border-radius: 4.8rem;
    border: 0.1rem solid map-get($grey-map, 300);
    padding: 2.4rem 3.2rem;
    color: map-get($grey-map, 300);
    font-family: $secondary-font;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem;
    width: 100%;
    background-color: transparent;
    margin-bottom: 2.4rem;
    &:first-child {
      // margin: 2.4rem 0rem;
    }
    &.has-error {
      border: 0.1rem solid $accent;
      color: $accent;
    }
    @include screenMax("mobile") {
      padding: 1.6rem 3.2rem;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }
  span {
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-bottom: 2.4rem;
    margin-top: -2rem;
    color: $accent;
    display: block;
    font-family: $secondary-font;
    font-weight: 500;
    transition: all 0.6s;
    @include screenMax("mobile") {
      font-size: 1rem;
      line-height: 2.1rem;
    }
  }
  &--cta {
    margin-top: 1.6rem;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  }
  &__login-link {
    color: $accent;
    font-family: $secondary-font;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    @include screenMax("mobile") {
      font-size: 1.4rem;
    }
  }
  &__forgot-password {
    color: map-get($grey-map, 100);
    font-family: $secondary-font;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 150% */
    @include screenMax("mobile") {
      font-size: 1.4rem;
    }
  }
  &__reset-password {
    text-align: center;
    color: map-get($grey-map, 100);
    font-family: $secondary-font;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 150% */
    letter-spacing: -0.018rem;
    display: block;
    margin: auto;
    cursor: pointer;
    @include screenMax("mobile") {
      font-size: 1.4rem;
    }
  }
}

.submit-template {
  max-width: 69.4rem;
  margin: auto;
  padding-bottom: 35rem;
  padding-top: 6.4rem;
  &--indicators {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    margin-bottom: 4rem;
    > div {
      &:nth-child(odd) {
        display: flex;
        width: 4.8rem;
        height: 4.8rem;
        // padding: 2.4rem 3.2rem;
        justify-content: center;
        align-items: center;
        color: map-get($grey-map, 300);
        font-family: $secondary-font;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        border-radius: 8rem;
        border: 0.1rem solid map-get($grey-map, 400);
        &.active {
          color: $black;
        }
      }
      &:nth-child(even) {
        height: 0.1rem;
        background-color: map-get($grey-map, 400);
        flex: 1;
      }
    }
  }
  &--form-elements {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  &--title {
    h3 {
      color: $black;
      font-family: $neue-bold;
      font-size: 3.9rem;
      font-style: normal;
      font-weight: 700;
      line-height: 4.6rem; /* 117.949% */
      margin-bottom: 1.6rem;
      text-align: center;
    }
    p {
      color: map-get($grey-map, 100);
      font-family: $primary-font;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.5rem; /* 152.174% */
      text-align: center;
      margin-bottom: 4rem;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 6.4rem;
    button {
      &:last-child {
        margin-left: 2.4rem;
      }
    }
  }
  &--upload-elements {
    > div {
      &:first-child {
        margin-bottom: 4rem;
        p {
          color: $black;
          font-family: $primary-font;
          font-size: 2.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 3.5rem; /* 152.174% */
          margin-bottom: 1.6rem;
          &:first-child {
            margin-bottom: 2.4rem;
          }
        }
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 4rem;
          > div {
            display: flex;
            align-items: center;
          }
          img {
            width: 9rem;
            height: 9rem;
            border-radius: 9rem;
            margin-right: 1.6rem;
          }
          h5 {
            color: $black;
            font-family: $neue-bold;
            font-size: 3.1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 3.72rem; /* 120% */
          }
        }
      }
      &:nth-child(2) {
        margin-bottom: 4rem;
      }
    }
  }
}

.mvp-template-submit {
  padding-top: 4.8rem;
  padding-bottom: 20.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  &__title {
    color: $black;
    font-family: $neue-bold;
    font-size: 3.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.6rem; /* 117.949% */
    margin-bottom: 1.6rem;
    text-align: center;
    @include screenMax("mobile") {
      font-size: 2.2rem;
      line-height: 2.9rem;
      margin-bottom: 0.6rem;
    }
  }
  &__subtext {
    color: map-get($grey-map, 100);
    font-family: $primary-font;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem; /* 152.174% */
    text-align: center;
    @include screenMax("mobile") {
      font-size: 1.6rem;
      line-height: 2.7rem;
    }
  }
  &__one {
    max-width: 47.8rem;
    h6 {
      color: map-get($grey-map, 100);
      font-family: $secondary-font;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.4rem; /* 150% */
      margin-top: 7.7rem;
      margin-bottom: 3.3rem;
      @include screenMax("mobile") {
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-top: 5.7rem;
      }
    }
    &-radio {
      display: flex;
      gap: 2.4rem;
      > div {
        flex: 1;
      }
      input[type="radio"] {
        display: none;
        &:not(:disabled) ~ label {
          cursor: pointer;
        }
        &:disabled ~ label {
          color: hsla(150, 5%, 75%, 1);
          border-color: hsla(150, 5%, 75%, 1);
          box-shadow: none;
          cursor: not-allowed;
        }
      }
      label {
        height: 100%;
        flex: 1;
        padding: 2.4rem;
        width: 100%;
        display: block;
        border: 0.3rem solid transparent;
        text-align: center;
        position: relative;
        border-radius: 0.8rem;
        background: map-get($grey-map, 500);
        color: $black;
        text-align: center;
        font-family: $secondary-font;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.4rem; /* 150% */
        svg {
          width: 8.4rem;
          height: 8.4rem;
          margin: auto;
          margin-bottom: 0.8rem;
        }
        @include screenMax("mobile") {
          padding: 1.6rem;
          font-size: 1.2rem;
          line-height: 1.9rem;
          svg {
            width: 5.4rem;
            height: 5.4rem;
            margin: auto;
            margin-bottom: 0.8rem;
          }
        }
      }
      input[type="radio"]:checked + label {
        border: 0.3rem solid $black;
      }
    }
    &-buttons {
      margin-top: 6.4rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2.4rem;
    }
  }
  &__two {
    max-width: 69.4rem;
    width: 100%;
    form {
      margin-top: 6.4rem;
      > div:first-child {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
      }
    }
  }
  &__info {
    max-width: 59rem;
    &-icon {
      width: 9.6rem;
      height: 9.6rem;
      border-radius: 9.6rem;
      border: 0.2rem solid map-get($grey-map, 200);
      padding: 2.4rem;
      margin: auto;
      svg {
        height: 4.8rem;
        width: 4.8rem;
      }
      &-error {
        border: 0.2rem solid $accent;
        svg {
          transform: translateY(-0.3rem);
        }
      }
      @include screenMax("mobile") {
        width: 7.6rem;
        height: 7.6rem;
        padding: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          height: 4.4rem;
          width: 4.4rem;
        }
        &-error {
          svg {
            transform: translateY(-0.15rem);
          }
        }
      }
    }
    h6 {
      color: $black;
      text-align: center;
      font-family: $neue-bold;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.72rem; /* 155% */
      margin-bottom: 1.6rem;
      margin-top: 4.8rem;
      @include screenMax("mobile") {
        font-size: 1.8rem;
        line-height: 3rem; /* 155% */
        margin-bottom: 1.3rem;
      }
    }
    p {
      color: $black;
      text-align: center;
      font-family: $primary-font;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.5rem; /* 152.174% */
      margin-bottom: 4rem;
      a {
        text-decoration: underline;
      }
      @include screenMax("mobile") {
        font-size: 1.4rem;
        line-height: 2.5rem; /* 155% */
      }
    }
    button {
      margin: auto;
    }
  }
}
