.hero {
  background-color: map-get($grey-map, 500);
  padding: 8rem 0;
  background-image: url("/images/hero-bg-3x.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  &-main_content {
    max-width: 96rem;
    width: 100%;
  }
  @include screenMax("mobile") {
    background-image: none;
    padding-bottom: 2.4rem;
    padding-top: 4rem;
  }
  h1 {
    color: $black;
    font-family: $neue-bold;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 6.4rem; /* 106.667% */
    letter-spacing: -0.12rem;
    margin-bottom: 2.4rem;
    @include screenMax("mobile") {
      font-size: 2.9rem;
      font-weight: 700;
      line-height: 3.7rem; /* 127.586% */
      margin-bottom: 1.6rem;
    }
  }
  h5 {
    color: map-get($grey-map, 200);
    font-family: $primary-font;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
    @include screenMax("mobile") {
      font-family: $secondary-font;
      font-size: 1.6rem;
      line-height: 2.5rem; /* 156.25% */
    }
  }
  &-filters {
    display: flex;
    gap: 12rem;
    margin-top: 4.8rem;
    @include screenMax("mobile") {
      display: none;
    }
    h6 {
      color: map-get($grey-map, 100);
      font-family: $neue-bold;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.018rem;
      margin-bottom: 2.2rem;
      display: block;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
    p {
      color: map-get($grey-map, 200);
      font-family: $secondary-font;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.8rem; /* 155.556% */
      letter-spacing: -0.18px;
      cursor: pointer;
      padding: 0.4rem 0;
      border-bottom: 0.1rem solid transparent;
      width: max-content;
      // width: 100%;
      // display: block;
      position: relative;

      &:hover {
        color: $black;
        border-bottom: 0.1rem solid $black;
      }
    }
  }
  &-mobile {
    &-filter {
      border-top: 0.1rem solid map-get($grey-map, 400);
      border-bottom: 0.1rem solid map-get($grey-map, 400);
      display: none;
      grid-template-columns: 1fr 1fr;
      position: relative;
      margin-top: 3rem;
      @include screenMax("mobile") {
        display: grid;
      }
      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 0.1rem;
        background-color: map-get($grey-map, 400);
        left: 50%;
      }
      button {
        width: 100%;
        padding: 1rem 1.6rem;
        color: map-get($grey-map, 100);
        font-family: $secondary-font;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.4rem; /* 171.429% */
        display: flex;
        align-items: center;
        gap: 0.8rem;
        justify-content: center;
        img {
          height: 1.6rem;
          width: 1.6rem;
        }
      }
    }
    &__template-details {
      display: none;
      align-items: center;
      gap: 0.8rem;
      padding: 1rem 0;
      margin-top: 1.6rem;
      @include screenMax("mobile") {
        display: flex;
      }
      h6 {
        color: map-get($grey-map, 100);
        font-family: $neue-bold;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8rem; /* 128.571% */
        letter-spacing: 0.014rem;
      }
      p {
        color: map-get($grey-map, 100);
        font-family: $secondary-font;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.1rem; /* 150% */
        letter-spacing: -0.014rem;
      }
    }
  }
}
