.hero {
  background-color: $white;
  padding: 6rem 0;
  background-image: url("/images/hero-bg-3x.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  &-main_content {
    max-width: 96rem;
    width: 100%;
  }
  h1 {
    color: $black;
    font-family: $neue-bold;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 6.4rem; /* 106.667% */
    letter-spacing: -0.12rem;
    margin-bottom: 2.4rem;
  }
  h5 {
    color: map-get($grey-map, 200);
    font-family: "Neue-thin", sans-serif;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
  }
  &-filters {
    display: flex;
    gap: 12rem;
    margin-top: 4.8rem;
    h6 {
      color: map-get($grey-map, 100);
      font-family: $neue-bold;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.018rem;
      margin-bottom: 2.2rem;
      display: block;
    }
    input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      color: map-get($grey-map, 100) !important;
      cursor: pointer;
      height: 1.6rem;
      width: 1.6rem;
      position: relative;
    }

    input[type="checkbox"]:focus {
      outline: none;
      box-shadow: none;
    }

    input[type="checkbox"]::before {
      content: "";
      // background: map-get($grey-map, 100);
      border: 0.1rem solid map-get($grey-map, 100);
      border-color: map-get($grey-map, 100);
      color: map-get($grey-map, 100);
      border-radius: 0.4rem;
      height: 1.6rem;
      width: 1.6rem;
      position: absolute;
    }
    input[type="checkbox"]:checked,
    input[type="checkbox"]:checked:focus {
      background: map-get($grey-map, 100);
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      box-shadow: none;
      height: 1.2rem;
      margin-left: 0.15rem;
      margin-right: 0.25rem;
      border-radius: 0.3rem;
      width: 1.2rem;
    }

    input[type="checkbox"]:checked::before {
      /* use `visibility` instead of `display` to avoid recalculating layout */
      visibility: visible;
    }
    input[type="checkbox"]:disabled {
      background: darkgrey;
      border-color: rgb(175, 129, 175);
      color: gray;
    }
    &_options {
      > div {
        margin-top: 1.2rem;
      }
      label {
        display: flex;
        align-items: center;
        padding: 0.8rem 0rem;
        gap: 0.8rem;
        position: relative;
        color: map-get($grey-map, 200);
        font-family: Inter;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.8rem; /* 155.556% */
        letter-spacing: -0.018rem;
      }
    }
  }
}
