.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  @include screenMax("mobile") {
    justify-content: space-between;
  }
  h6 {
    display: none;
    color: map-get($grey-map, 200);
    font-family: $secondary-font;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    span {
      color: $black;
    }
    @include screenMax("mobile") {
      display: block;
    }
  }
  button {
    background-color: transparent;
    cursor: pointer;
    height: 4.8rem;
    width: 4.8rem;
    padding: 1rem;
    border-radius: 50%;
    color: map-get($grey-map, 300);
    text-align: center;
    font-family: $secondary-font;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include screenMax("mobile") {
      font-size: 1.6rem;
      display: none;
    }
    &:first-child,
    &:last-child {
      color: map-get($grey-map, 100);
      text-align: center;
      font-family: $secondary-font;
      width: auto;
      font-size: 2.2rem;
      border-radius: 0.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 1rem;
      border: none;
      outline: none;
      gap: 0.8rem;
      display: flex;
      align-items: center;
      img {
        height: 2.4rem;
        width: 2.4rem;
      }
      @include screenMax("mobile") {
        font-size: 1.6rem;
        padding: 0.4rem 0;
        display: flex;
      }
    }
    &.active {
      color: $black;
      background: map-get($grey-map, 400);
    }
  }
}
