.template-card {
  &:hover {
    .template-card__img-cta {
      transform: translateY(0) !important;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.25%, #000 82.29%);
    }
  }
  &__img {
    position: relative;
    height: 63.8rem;
    margin-bottom: 2.4rem;
    overflow: hidden;
    .template-card__img-cta {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 100%, #000 100%);
      width: 100%;
      height: 100%;
      display: flex;
      bottom: 0;
      align-items: flex-end;
      justify-content: center;
      padding: 6.3rem 7.3rem;
      gap: 1.2rem;
      position: absolute;
      cursor: pointer;
      left: 0;
      transition: all 0.6s;
      transform: translateY(50%);
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    h4 {
      color: $black;
      font-family: $neue-bold;
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.72rem; /* 120% */
    }
    p {
      color: map-get($grey-map, 200);
      font-family: $primary-font;
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.72rem; /* 120% */
    }
  }
  &__author {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    img {
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
    }
    p {
      color: map-get($grey-map, 300);
      font-family: $secondary-font;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.6rem;
    }
  }
}
