.template-card {
  &__img {
    position: relative;
    height: 63.8rem;
    margin-bottom: 2.4rem;
    > div {
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 6.3rem 7.3rem;
      gap: 1.2rem;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    > img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
    &-cta {
      display: flex !important;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    h4 {
      color: $black;
      font-family: $neue-bold;
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.72rem; /* 120% */
    }
    p {
      color: map-get($grey-map, 200);
      font-family: $primary-font;
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.72rem; /* 120% */
    }
  }
  &__author {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    img {
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
    }
    p {
      color: map-get($grey-map, 300);
      font-family: $secondary-font;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.6rem;
    }
  }
}
