.template-card {
  &:hover {
    .template-card__img-cta {
      transform: translateY(0) !important;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.25%, #000 82.29%);
    }
  }
  &__img {
    position: relative;
    height: 63.8rem;
    margin-bottom: 2.4rem;
    overflow: hidden;
    @include screenMax("mobile") {
      height: 19.3rem;
      margin-bottom: 0.8rem;
    }
    .template-card__img-cta {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 100%, #000 100%);
      width: 100%;
      height: 100%;
      display: flex;
      bottom: 0;
      align-items: flex-end;
      justify-content: center;
      padding: 6.3rem 7.3rem;
      gap: 1.2rem;
      position: absolute;
      cursor: pointer;
      left: 0;
      transition: all 0.6s;
      transform: translateY(50%);
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    @include screenMax("mobile") {
      margin-bottom: 0.4rem;
    }
    h4 {
      color: $black;
      font-family: $neue-bold;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.72rem; /* 120% */
      > div {
        width: 17rem !important;
        height: 3.2rem !important;
      }

      @include screenMax("mobile") {
        font-family: $secondary-font;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.4rem; /* 171.429% */
        > div {
          width: 7rem !important;
          height: 2.2rem !important;
        }
      }
    }
    p {
      color: map-get($grey-map, 200);
      font-family: $primary-font;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.72rem; /* 120% */
      > div {
        width: 5rem !important;
        height: 3.2rem !important;
      }
      @include screenMax("mobile") {
        font-family: $secondary-font;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.4rem; /* 171.429% */
        > div {
          width: 3rem !important;
          height: 2.2rem !important;
        }
      }
    }
  }
  &__author {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    > div {
      height: 3.2rem !important;
      width: 3.2rem !important;
    }
    img {
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
    }
    p {
      color: map-get($grey-map, 300);
      font-family: $secondary-font;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.6rem;
      > div {
        width: 15rem !important;
        height: 2.8rem !important;
      }
    }
    @include screenMax("mobile") {
      gap: 0.4rem;
      img {
        height: 1.6rem;
        width: 1.6rem;
        > div {
          height: 1.6rem !important;
          width: 1.6rem !important;
        }
      }
      p {
        font-size: 1.4rem;
        line-height: 2.1rem; /* 150% */
        letter-spacing: -0.014rem;
        > div {
          width: 5rem !important;
          height: 2.8rem !important;
        }
      }
    }
  }
}
