.about-page {
  &-top {
    background-color: map-get($grey-map, 500);
    > div > div {
      max-width: 83.6rem;
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
      width: 100%;
      margin: auto;
      p {
        color: map-get($grey-map, 200);
        font-family: $primary-font;
        font-size: 2.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.5rem; /* 152.174% */
        margin-bottom: 3.2rem;
        a {
          text-decoration-line: underline;
        }
        &.custom-width {
          //  max-width: 53rem;
        }
      }
      h1 {
        color: $black;
        font-family: $neue-bold;
        font-size: 6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 6.4rem; /* 106.667% */
        letter-spacing: -0.12rem;
        margin-bottom: 2.4rem;
      }
    }
  }
  &-bottom {
    > div > div {
      max-width: 83.6rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      h2 {
        color: $black;
        font-family: $neue-bold;
        font-size: 3.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.6rem; /* 117.949% */
      }
      h6 {
        color: $black;
        font-family: $secondary-font;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0.8rem;
      }
      p {
        color: map-get($grey-map, 200);
        font-family: $secondary-font;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.6rem;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
