.landing {
  padding-top: 4.8rem;
  padding-bottom: 6.8rem;

  &-container {
    background-color: $white;
  }
  > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8rem;
  }
  &-pagination {
    padding-bottom: 6.5rem;
  }
}

.search-result-page {
  padding-top: 5.2rem;
  &__text {
    color: map-get($grey-map, 300);
    font-family: $neue-bold;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.4rem; /* 106.667% */
    letter-spacing: -0.12rem;
    margin-bottom: 0.4rem;
    span {
      color: $black;
      text-transform: capitalize;
    }
  }
}
