.search-page {
  background-color: $white;
  padding-top: 5.9rem;
  &-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    h1 {
      color: $black;
      font-family: $neue-bold;
      font-size: 6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 6.4rem; /* 106.667% */
      letter-spacing: -0.12rem;
      margin-bottom: 2.4rem;
    }
    > div {
      &:first-child {
        max-width: 99.4rem;
        margin-bottom: 1.6rem;
        > div {
          display: flex;
          align-items: center;
          gap: 1.6rem;
          img {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
          }
          p {
            color: map-get($grey-map, 100);
            font-family: $primary-font;
            font-size: 2.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3.5rem;
          }
        }
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        max-width: 40.2rem;
        width: 100%;
        > button {
          width: 100%;
        }
        > div {
          margin-top: 2.4rem;
          display: flex;
          align-items: center;
          gap: 1.6rem;
          > button:last-child {
            flex: 1;
          }
        }
      }
    }
  }
  &-images {
    // display: flex;
    // overflow: visible;
    // gap: 6.4rem;
    padding: 6.8rem 5rem !important;
    padding-top: 0rem;
    // overflow: hidden;
    .swiper-wrapper {
      img {
        height: 74.2rem !important;
        width: 110.3rem;
        border-radius: 0rem;
        object-fit: cover;
      }
      .swiper-slide:first-child {
        box-shadow: 0rem 0.4529rem 0.3623rem 0rem rgba(0, 0, 0, 0.01),
          0rem 1.2522rem 1.0017rem 0rem rgba(0, 0, 0, 0.014),
          0rem 3.0147rem 2.4118rem 0rem rgba(0, 0, 0, 0.015),
          0rem 10rem 8rem 0rem rgba(0, 0, 0, 0.017);
      }
    }
  }
  &-description {
    max-width: 84rem;
    margin: auto;
    h3 {
      color: $black;
      font-family: $secondary-font;
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.9rem; /* 158.333% */
      text-transform: uppercase;
    }
    p {
      color: map-get($grey-map, 200);
      font-family: $secondary-font;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.6rem;
      margin-bottom: 0.8rem;
    }
    > div {
      margin-bottom: 2.4rem;
      // gap: 8rem;
    }
  }
  &-related {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem;
    padding-bottom: 42rem;
  }
  &-sub_title {
    padding-top: 8rem;
    color: $black;
    font-family: $neue-bold;
    margin-bottom: 3.3rem;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.72rem; /* 120% */
  }
  &--cta {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
    > button {
      &:nth-child(1),
      &:nth-child(2) {
        flex: 1;
      }
    }
  }
  &-loading {
    &-top {
      display: flex;
      justify-content: space-between;
      height: 23rem;
      margin-bottom: 6.5rem;
      > div {
        > div {
          display: flex;
          margin-bottom: 2.4rem;
          > div {
            margin-right: 2rem;
          }
        }
      }
    }
    &-carousel {
      display: flex;
      height: 74.2rem;
      margin: 6.5rem 0rem;
      gap: 5rem;
    }
    &-desc {
      max-width: 84rem;
      margin: auto;
    }
  }
}
