.container {
  // @include maxw(1920px);
  padding: 0px 8rem;
  @include screenMax("mobile") {
    padding: 0px 1.6rem;
  }
}
.auth-layout {
  background-image: url("/images/auth-bg.jpg");
  background-size: cover;
  background-position: top;
  min-height: 100vh;
}

body {
  &::before {
    content: "";
    width: 100vw;
    height: 0vh;
    background-color: none;
    opacity: 0.8;
  }
  &.show-overlay {
    position: relative;
    &::before {
      position: fixed;
      content: "";
      width: 100vw;
      height: 100vh;
      background-color: $black;
      opacity: 0.8;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}
