@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease: cubic-bezier(0.2, 0.6, 0.35, 1);

//fonts
$primary-font: "Neue-regular", sans-serif;
$secondary-font: "Inter", sans-serif;
$neue-thin: "Neue-thin", sans-serif;
$neue-medium: "Neue-medium", sans-serif;
$neue-bold: "Neue-bold", sans-serif;

//colors
$white: #fcfbf9;
$black: #1d1c1c;
$accent: #f44f5d;
$grey-map: (
  100: #403d39,
  200: #595651,
  300: #8c8c8c,
  400: #d9d9d9,
  500: #efefef,
  600: #cccccc,
);
$black-map: (
  100: #1d1c1c,
  200: #0c251e,
  300: #4f4f4f,
);
$white-map: (
  default: #fcfbf9,
  100: #fcfbf9,
  200: #f8f8f8,
);
$green-pallet: (
  100: #a8f0c5,
  200: #008065,
);

$blue: #3676c8;
$snow: #f3f3f3;
$yellow: #ffc700;
$danger: #e12929;

$border-color: map-get($white-map, 100);

$text-color-weak: map-get($grey-map, 100);

$max-width: 100%;
$z-indexes: ("action-sheet", "modal", "navigation", "label", "dropdown");

$breakpoints: (
  "xxsm-mobile": 350px,
  "xsm-mobile": 380px,
  "ssm-mobile": 485px,
  "sm-mobile": 550px,
  "mobile": 650px,
  "sm-tablet": 700px,
  "md-tablet": 770px,
  "tablet": 950px,
  "lg-tablet": 1025px,
  "sm-desktop": 1200px,
  "desktop": 1440px,
) !default;
